# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
UI Inspiration/Bildschirmfoto 2023-11-14 um 12.21.47.png
UI Inspiration/Bildschirmfoto 2023-11-14 um 12.22.07.png
UI Inspiration/Bildschirmfoto 2023-11-14 um 12.22.17.png
UI Inspiration/Bildschirmfoto 2023-11-14 um 12.22.59.png
UI Inspiration/Bildschirmfoto 2023-11-14 um 12.23.13.png
UI Inspiration/Bildschirmfoto 2023-11-14 um 12.23.46.png
UI Inspiration/Bildschirmfoto 2023-11-14 um 12.24.59.png
